@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --Dark-grayish-magenta: hsl(303, 10%, 53%);
    --Light-grayish-magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    background: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    margin: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

main {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, 350px);
    place-items: center;
}

#header {
    display: grid;
    grid-template-columns: 300px 400px;
    column-gap: 10rem;

    .left h1 {
        font-size: 2.8rem;
        font-weight: 700;
        color: var(--very-dark-magenta);
    }

    .left p {
        font-size: .9rem;
        font-weight: 500;
        color: var(--Dark-grayish-magenta);
        line-height: 1.3;
        margin-top: 1rem;
    }

    .right {
        .review {
            background: hsl(300, 24%, 96%);
            padding: 1rem;
            border-radius: .7rem;
            margin-bottom: 1rem;
            position: relative;
            display: flex;
            justify-content: left;
            align-items: center;
        }

        .review p {
            font-weight: 700;
            color: var(--very-dark-magenta);
            margin-left: 1rem;
        }

        .review:nth-child(2) {
            left: 2.5rem;
        }

        .review:nth-child(3) {
            left: 5rem;
        }
    }
}

#card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 1rem;

    .card {
        color: var(--White);
        background: var(--very-dark-magenta);
        border-radius: .5rem;
        padding: 3rem 2rem;
        display: grid;
        grid-template-rows: auto 1fr;
        row-gap: 1rem;
        position: relative;

        .top {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1rem;

            .text {
                line-height: 1.3;
                font-weight: 500;
                letter-spacing: .5px;

                .verified {
                    color: var(--soft-pink);
                }
            }
        }

        .top img {
            width: 3rem;
            border-radius: 50%;
            margin-right: .5rem;
        }
    }

    .card p {
        font-size: 1rem;
        line-height: 1.3;
    }
}

@media (max-width:768px) {
    body {
        margin: 0 auto;
        padding: 3rem;
    }

    main {
        grid-template-rows: 1fr;
    }

    #header {
        grid-template-columns: 1fr;

        .left {
            text-align: center;
        }

        .left h1 {
            font-size: 2rem;
        }

        .left p {
            font-size: 1rem;
            margin-top: 1rem;
        }

        .right {
            margin: 20px 0;

            .review {
                width: 100%;
                flex-direction: column;
            }

            .review:nth-child(2),
            .review:nth-child(3) {
                left: unset;
            }

            .stars {
                margin-bottom: .5rem;
            }
        }
    }

    #card-container {
        grid-template-columns: 1fr;
    }
}